:root
{
	--bg-color: #fafafa;
	--fg-color: #222222;
}

*
{
	box-sizing: border-box;
}

html
{
	scrollbar-gutter: stable;
}

html, body
{
	height: 100%;
}

body
{
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: 0 auto 0 auto;
	overflow: auto;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	max-width: 80rem;
	padding: 0 1rem 0 1rem;
}

main
{
	flex: 1;
}

textarea
{
	resize: vertical;
	width: 100%;
	min-height: 12rem;
}

fieldset
{
	display: grid;
}

form
{
	margin-top: 2rem;
	margin-bottom: 1rem;
}

label
{
	display: block;
}

textarea, select, input
{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#input_duration, input
{
	height: 2rem;
}

input[type="submit"]
{
	display: block;
}

legend
{
	margin: auto;
}

footer
{
	text-align: center;
	font-size: 0.8em;
	color: dimgray;
}

.info
{
	cursor: help;
	font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
	main
	{
		display: flex;
		flex-direction: column;
	}

	form
	{
		flex: 1;
	}

	fieldset
	{
		height: 100%;
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 2rem;
	}

	textarea
	{
		height: calc(100% - 3rem);
	}
}